/* style.css */

#main-page-title-div {
	display: flex;
}

#main-page-title {
	text-align: center;
	width: 100%;
}

.tab-icon {
	font-size: inherit;
	padding: 0px 5px;
}

#main-page-tabs {
	text-align: center;
	list-style: none;
	margin: 8px 0px 0px 0px;
}

#main-page-tabs li {
	display: inline-block;
	margin: 0 3px;
	float: inherit;
	font-weight: 600;
}

#main-page-tabs a {
	padding: 0 20px;
	line-height: 30px;
	display: inline-block;
	font-size: 20px;
}

#main-page-tabs a:hover, #main-page-tabs a.active {
	background: #f0f0f0;
}

#main-page-tabs a:visited {
	color: blue;
}

#main-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#main-page-header {
}

#main-page-content {
	flex-grow: 1;
}

#main-page-content > div:not(:first-child) {
	display: none;
}

.page-footer {
	text-align: center;
	width: 100%;
	margin-bottom: 2px;
	height: min-content;
}

form {
	width: 50vw;
	text-align: center;
	padding: 10px 3px;
}

.tags-main-div {
	height: min-content;
	padding: 0px !important;
	display: flex;
}

.tags-container {
	width: max-content;
	display: flex;
	overflow: auto;
}

.tags-input-div {
	flex-grow: 1;
	margin-left: 3px;
}

.tag-body {
	padding: 0px;
	width: max-content;
	margin-left: 1px;
	height: 90%;
	margin-top: auto;
	margin-bottom: auto;
	
}

.tag-label {
	margin: 0px !important;
	padding-right: 2px;
}

.tag-remove-btn {
	color: red;
	padding: 1px 1px;
	background: none;
}

form div label {
	line-height: initial !important;
}

.ingredient-amount {
	margin-left: 5px;
}

.ingredient-remove-btn {
	color: red;
}

.ingredient-unit {
	margin-left: 10px;
}

.ingredient-name {
}

.ingredient-add-btn {
	background: none;
	box-shadow: none;
}

.ingredient-div {
	margin-bottom: 2px;
	padding: 3px;
}

.ingredients-container-div {
	max-height: 30vh;
    overflow-y: auto;
	min-height: 20vh;
}

.confirm-button {
	font-size: 19px;
	font-weight: bold;
	width: 230px;
	margin: auto;
}

.invalid-feedback {
	text-align: left;
}

#recipes-div {
	display: flex;
	margin: 0px auto;
	height: 100%;
}

.bordered {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: 3px 2px;
	height: 100%;
}

h4 {
	margin: 5px;
	text-align: center;
}

hr {
	margin: 0px auto 5px auto;
	border-bottom: 1px solid;
}

#search-recipe-row {
	height: 100%;
}

#recipes-card {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.btn:not(.btn-secondary):not(.btn-confirm):not(.btn-light):not(.btn-danger):not(.btn-primary):not(.btn-success) {
	background-color: revert;
}

#search-recipe-result-table_wrapper {
	padding: 3px;
}

#data-table-search-div input {
	width: 250px;
}

.data-table {
	border-collapse: collapse;
	width: 100%;
}

.data-table th {
	padding: 4px !important;
	border-top: none;
}

.data-table td {
	padding: 3px 7px !important;
	vertical-align: middle;
}

.data-table tbody td {
	border-bottom: none;
	font-size: 17px;
}

.data-table tbody tr:hover {
    background-color: #e1e1e1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0.5em;
}

.data-table th:last-child {
    width: 66px !important;
}

.data-table td:last-child {
    width: max-content;
	padding: 0px !important;
}

.btn-group > .btn {
	padding: 5px 10px;
	background: none !important;
}

.btn-group-actions {
	width: 100%;
}

.data-table tbody tr:hover td:last-child .btn-group-actions {
    visibility: initial !important;
}

.btn-red {
	color: red;
}

.btn-blue {
	color: blue;
}

.btn-green {
	color: green;
}

.modal-dialog {
	max-width: max-content;
	margin: 0.75rem auto !important;
}

.modal-content {
	width: max-content;
	border: 2px solid !important;
}

.modal-title-value {
	font-weight: bold;
}

.modal-dialog-warning-sign {
	text-align: center;
	font-size: 80px;
	color: darkred;
	margin-top: 16px;
}

#add-recipe-btn-div {
	text-align: center;
	width: max-content;
	margin: 10px auto 5px auto;
}

#add-recipe-btn {
	font-size: 16px;
    font-weight: bold;
    color: blue;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	padding-top: 3px;
	padding-bottom: 3px;
}

#add-ingredient-div {
	padding: 5px;
}

.modal-header-centered {
	text-align: center;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#recipe-description, #recipe-preparation {
	resize: none;
}

.minimum-cell {
	min-width: 300px;
}

.maximum-cell {
	max-width: 400px;
}

.info-word {
	border-bottom: 1px dotted black;
	cursor: pointer;
}

#navbar-logo {
	width: 45px;
	height: 45px;
}

#nav-bar-brand-text {
	font-weight: bold;
	padding-left: .3125rem;
}

.filter-category-div {
	margin: 3px;
}

.card-header {
	padding: 0px 0px;
	text-align: center;
	font-size: 18px;
}

.filter-state {
	padding: 0px;
    line-height: normal;
	background: none !important;
	vertical-align: text-bottom;
	box-shadow: none !important;
}

.state-icon {
	height: 20px;
    width: 20px;
	margin-right: 5px;
}

.badge {
	margin-left: 1px;
	padding: .15em .25em !important;
}

.slim-btn {
	padding: 2px 1px;
	margin: 3px 3px;
	border: 1px solid rgba(0,0,0,.125);
}

.filter-category-body {
	padding-top: .75rem;
	padding-bottom: .75rem;
	max-height: 300px;
	overflow-y: auto;
}

#clear-all-filters-div {
	padding: 0px 5px;
}

#clear-all-filters-btn {
	width: 100%;
	margin: 0px;
}
